.white {
    color: $white;
}

.charcoal-100 {
    color: $charcoal-100;
}

.charcoal-200 {
    color: $charcoal-200;
}

.charcoal-300 {
    color: $charcoal-300;
}

.charcoal-400 {
    color: $charcoal-400;
}

.charcoal-500 {
    color: $charcoal-500;
}

.charcoal-600 {
    color: $charcoal-600;
}

.cb-primary-100 {
    color: $cb-primary-100;
}

.cb-primary-200 {
    color: $cb-primary-200;
}

.cb-primary-300 {
    color: $cb-primary-300;
}

.cb-primary-400 {
    color: $cb-primary-400;
}

.cb-primary-500 {
    color: $cb-primary-500;
}

.cb-primary-600 {
    color: $cb-primary-600;
}

.bg-white {
    background-color: $white;
}

.bg-charcoal-100 {
    background-color: $charcoal-100;
}

.bg-charcoal-200 {
    background-color: $charcoal-200;
}

.bg-charcoal-300 {
    background-color: $charcoal-300;
}

.bg-charcoal-400 {
    background-color: $charcoal-400;
}

.bg-charcoal-500 {
    background-color: $charcoal-500;
}

.bg-charcoal-600 {
    background-color: $charcoal-600;
}

.bg-cb-primary-100 {
    background-color: $cb-primary-100;
}

.bg-cb-primary-200 {
    background-color: $cb-primary-200;
}

.bg-cb-primary-300 {
    background-color: $cb-primary-300;
}

.bg-cb-primary-400 {
    background-color: $cb-primary-400;
}

.bg-cb-primary-500 {
    background-color: $cb-primary-500;
}

.bg-cb-primary-600 {
    background-color: $cb-primary-600;
}
