<div class="faqs__sidebar" style="background-image: url('/uploads/c3-justify.jpg'); background-position: center; background-size: cover;">
    <div class="faqs__sidebar-content sticky">
        <h3 class="faqs__sidebar-header">
            Need to convince your boss? Checkout our justification letter below:
        </h3>
        <a class="block__button button button--secondary" href="{{ page.justification-letter }}" target="_blank" rel="noopener">
            <i class="fad fa-file-word">
            </i>
            Download Letter
        </a>
    </div>
    <div class="faqs__sidebar-overlay">
    </div>
</div>
