<section class="section section--hero" style="background-image: url({{ site.hero-background-image }});">
    <div class="section__content">
        <img alt="C3 logo" class="section__logo" src="{{ site.hero-logo }}" />
        <p class="section__header">
            {{ site.hero-header }}
        </p>

        <h1 class="section__date">
            {{ site.hero-dates }}
        </h1>

        <p class="section__location">
            {{ site.hero-location }}
        </p>
    </div>
    <div class="section__overlay">
    </div>

</section>