{% if page.has-sponsors == true %}
<section class="block block--speakers {{ page.speakers-past-background-color }}">
    <div class="block__content">
        <h2 class="block__header">
            Sponsors
        </h2>
        <ul class="listing listing--five-column">
            {% for speaker in site.2019-past-speakers %}
            <li class="speaker speaker--past">
                <a href="#" rel="noopener" target="_blank">
                    <img alt="{{ speaker.image-alt }}" class="speaker__image" src="{{ speaker.image }}"/>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}