{% include section-contact.html %}
<footer class="site-footer">
    <section>
        <img alt="clarabridge logotype" src="/uploads/cb-logo-horizontal.svg">
        <div class="social-media">
            <h3>
                Stay Connected
            </h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com/Clarabridge" aria-label="Social media link for Facebook"
                        target="_blank" rel="noopener">
                        <i class="fab fa-facebook-square">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/clarabridge" aria-label="Social media link for Twitter" target="_blank"
                        rel="noopener">
                        <i class="fab fa-twitter-square">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/clarabridge" aria-label="Social media link for Linkedin"
                        target="_blank" rel="noopener">
                        <i class="fab fa-linkedin">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCq3eNnwPsrO9Wlf6o86ccHw"
                        aria-label="Social media link for Youtube" target="_blank" rel="noopener">
                        <i class="fab fa-youtube-square">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            ©2019 Clarabridge®. All rights reserved.
        </div>
        <ul class="legal">
            <li>
                <a class="anchor" href="https://www.clarabridge.com/privacy-policy/" target="_blank" rel="noopener">
                    Privacy
                </a>
            </li>
            <li>
                <a class="anchor" href="https://www.clarabridge.com/terms-of-use/" target="_blank" rel="noopener">
                    Terms
                </a>
            </li>
            <li>
                <a class="anchor" href="https://www.clarabridge.com/ccpa/" target="_blank" rel="noopener">
                    CCPA
                </a>
            </li>
            <li>
                <a class="anchor" href="https://www.clarabridge.com/gdpr/" target="_blank" rel="noopener">
                    GDPR
                </a>
            </li>
            <li>
                <a class="anchor" href="https://www.clarabridge.com/modern-slavery-act/" target="_blank" rel="noopener">
                    MSA
                </a>
            </li>
        </ul>
    </section>
</footer>