.site-header {
    background-color: $white;
    border-bottom: solid 2px $charcoal-200;
    padding: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $index-4;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        max-width: 48px;
    }

    &__links {
        display: none;
    }

    &__links li {
        display: inline-block;
    }

    &__buttons {
        display: flex;
    }

    &__links li>*:not(:first-child),
    &__buttons>*:not(:first-child) {
        margin-left: 8px;
    }

    @media screen and (min-width:1279px) {
        &__links {
            display: block;
        }

    }

}
